.vscode
.venv
models/*
node_modules

**/__pycache__/

*.log

notes*

*/**/*.so
*/**/*.cmd

data/*

scraper/*

polyfish-rs/target/*

*safetensors

# Production optimizations
src/public/
archive/
.cursor/