.vscode
.venv
models/*
node_modules

**/__pycache__/

*.log
*.csv

*/**/*.so
*/**/*.cmd

data/*

scraper/*

polyfish-rs/target/*
polyfish-rs/checkpoints/

archive/
.*/

commit.sh

obj/

bin/

decompiled/*

.env
