.forest {
    width: 120px;
    margin-left: 10px;
    margin-top: -30px;
}

.mountain {
    background-size: cover !important;
    margin-left: 0px;
    margin-top: -24px;
}

.structure {
    width: 100px !important;
    margin-left: 15px !important;
    margin-top: -30px !important;
    pointer-events: none !important;
}

.village {
    width: 70px !important;
    margin-left: 30px !important;
    margin-top: -25px !important;
}

.ruins {
    width: 124px !important;
    margin-left: 5px !important;
    margin-top: -25px !important;
}

.temple {
    width: 60px !important;
    margin-left: 40px !important;
    margin-top: -22px !important;
}

.city {
    width: 90px !important;
    margin-left: 30px !important;
    z-index: 4;
    margin-top: -50px;
}

.city div {
    transform: translateY(70px);
    z-index: 5;
    width: 8rem;
    margin-left: -20px;
    font-weight: bold;
}

.city p {
    font-style: italic;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 0 .5em;
    background-color: rgba(0, 0, 0, 0.35);
    user-select: none;
}

.capital {
    text-decoration: underline;
}

.resource {
    width: 60px !important;
    margin-left: 40px !important;
    margin-top: -22px !important;
}

.animal {
    width: 45px !important;
    margin-left: 50px !important;
}

.fish {
    width: 120px !important;
    margin-left: 5px !important;
    margin-top: -27px !important;
}

.crop {
    width: 90px !important;
    margin-left: 20px !important;
    margin-top: -27px !important;
}

.fruit {
    width: 50px !important;
    margin-left: 40px !important;
}

.metal {
    width: 40px !important;
    margin-top: -25px !important;
    margin-left: 55px !important;
}

.starfish {}

.flipped {
    transform: scaleX(-1);
}

.flipped .health {
    transform: scaleX(-1);
}

.flipped .hint {
    transform: scaleX(-1);
}

.unit {
    width: 100px !important;
    margin-left: 28px !important;
    margin-top: -35px !important;
    pointer-events: none !important;
}

.exausted {
    opacity: .8;
    filter: brightness(1.6) saturate(0);
}


[style*="textures/misc/missing.png"] {
    z-index: 999 !important;
    width: 100px;
    aspect-ratio: 1/1;
}

.iceport {
    width: 45px;
    margin-left: 45px;
    margin-top: -40px;
}

.lumberhut {
    width: 60px;
    margin-left: 45px;
    margin-top: -25px;
}

.ground {
    transition-duration: 300ms;
}

.ground:hover {
    filter: brightness(1.2);
}

.ignoremouse {
    pointer-events: none;
}

.mine {
    width: 60px;
    margin-left: 30px;
    margin-top: -30px;
}

.forge {
    width: 45px;
    margin-left: 40px;
    margin-top: -30px;
}

.health {
    color: white;
    font-weight: 800;
    font-family: 'Mono';
    margin-top: 30px;
    text-align: left;
    pointer-events: none;
}

.capturing {
    position: absolute;
    width: 25px;
    margin-left: 31px;
    margin-top: -54px;
    object-position: center;
    transform-origin: bottom;
}

.hint {
    position: absolute;
    width: 65px;
    margin-left: 11px;
    margin-top: -75px;
    object-position: center;
    transform-origin: bottom;
}

.tile {
    position: absolute;
    width: 128px;
    height: 128px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}